* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

header {
    color: #FFFFFF;
    background: linear-gradient(90deg,rgba(23, 114, 179, 1) 0%, rgba(68, 149, 207, 1) 54%, rgba(121, 195, 248, 1) 100%);
    width: 100%;
    padding: 16px;
    font-size: 24px;
    text-align: center;
}

/* -- Main Part -- */

/* Tab Control */

#tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
    margin: 50px auto;
    padding: 25px;
    column-gap: 15px;
}

#tabs input[type="radio"] {
    display: none;
}

#tabs input[type="radio"]:checked + label {
    background: #428CC2;
}

#tabs input[type="radio"]:checked + label + .tab {
    display: block;
}

#tabs label {
    flex: 1;
    padding: 12px;
    background: #4CADF3;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#tabs .tab {
    width: 100%;
    padding: 15px;
    background: #EEEEEE;
    order: 1;
    display: none;
}